<h1>FoodMade</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Congratulations, you are now a certified FoodMade Chef! You can now set up a menu and accept reservations from your profile!
</p>
Thank you for your support,
<br>The FoodMade Team


