<h1>FoodMade</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Your status as FoodMade Chef is no longer active, if you think this is a mistake, please email our support team.
</p>
Thank you for your support,
<br>The FoodMade Team

