body {
  background-image: image-url('background.jpg');
  background-color: #f0d3a9;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}


.field_with_errors {
  padding: 0px;
  background-color: none;
  display: inline;
  
}

#error_explanation {
  margin: 0 auto;
  width: 450px;
  border: 0px solid red;
  padding: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  background-color: rgba(238,238,238,0.0);

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
